<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/normalize.css">        
        <title></title>
    </head>
    <body>
        <h1>Edit Game</h1>
        <form action="/game/<%=game.id%>?_method=PUT" method="POST">

            <!--  NOTE: the form is pre-populated with values for the server-->
            Game: <input type="text" name="cardgame" value="<%=game.cardgame%>"/><br/>
            Card: <input type="text" name="name" value="<%=game.name%>"/><br/>
            Set: <input type="text" name="set" value="<%=game.set%>"/><br/>
            Rarity: <input type="text" name="rarity" value="<%=game.rarity%>"/><br/>
            Value: <input type="number" name="value" value="<%=game.value%>"/><br/>
            Image URL: <input type="text" name="img" value="<%=game.img%>"/><br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
        <nav>
            <a class="button" href="/game">Back to mainpage</a>
        </nav>
    </body>
</html>